.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    left: 0;
    right: 0;
    padding:20px;
}

.child {
    width:30%;
    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    width:100%;
    position: absolute;
}

.hoverimg {
    opacity:0;
}

.hoverimg:hover {
    opacity:100;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.infos {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;

    padding: 20px;
    text-align: center;
    visibility: hidden;
    background-color: rgb(211, 211, 211);
}

.images {
    height: 800px;
}

.open-popup {
    visibility: visible;
}

h2:hover {
    cursor:pointer;
}

.material {
    display: flex;
    flex-direction:column;
    position: relative;
    left: 0;
    right: 0;
    padding: 30px;
}

.material-einzeln {
    display: flex;
    flex-direction: row;
}